@{
    ViewBag.Title = SR["Create Solution"];
}
@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">@ViewBag.SiteName</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

<div class="row">
    <div class="col-md-8 col-sm-12 col-md-offset-2">
        <div class="card card-single card-error">
            <form method="post" asp-action="CreateSolution" asp-route-id="@ViewContext.RouteData.Values["id"]" class="error-block-inner">
                <h3>@ViewBag.Title</h3>
                <p class="message-manual">@SR["Input the method on your solution title."]</p>
                <p><input class="form-control textbox" placeholder="@SR["Solution title"]" name="title" value="@ViewBag.SolutionTitle" /></p>
                <p><input type="submit" value="@SR["Create"]" class="btn btn-default ripple home-link" /></p>
            </form>
        </div>
    </div>
</div>
