@model Post
@{ 
    ViewBag.Title = Model.Title;
}
@section Navigator {
    <div class="columns">
        <div class="location-path">
            / <a href="/">JoyOI</a> /
        </div>
        <h1 class="location-current" data-emoji-enabled="">@ViewBag.Title</h1>
    </div>
}

    <div class="container">
        <div class="cont-wrap">
            <div class="grid_9">
                <div class="post">
                    <div class="post-body">
                        @Html.Sanitize(Html.Marked(Model.Content))
                    </div>
                    @if (Html.IsAdmin())
                {
                    <div class="post-edit">
                        <p><input id="txtTitle" type="text" class="textbox" placeholder="@SR["Title"]" value="@Model.Title" /></p>
                        <p><input id="txtUrl" type="text" class="textbox" placeholder="URL" value="@Model.Url" /></p>
                        <p>
                            <select id="lstCatalogs" class="textbox">
                                <option value="">未分类</option>
                                @foreach (CatalogViewModel c in ViewBag.Catalogs)
                            {
                                <!option value="@c.Id" @(Model.CatalogId == c.Id ? "selected" : "")>@c.Title</!option>
                        }
                            </select>
                        </p>
                        <p>
                            <div class="markdown-editor-outer">
                                <textarea class="markdown-editor" name="Content">@(new HtmlString(Model.Content))</textarea>
                                <div class="markdown-editor-bottom">拖拽文件、粘贴文件或<a href="javascript:;" onclick="uploadAttachment()">选择文件</a>以添加附件。</div>
                            </div>
                        </p>
                        <form id="frmAjaxUpload" style="display: none">
                            <input type="file" id="uploadFile" name="file" />
                        </form>
                        <p>
                            <input type="text" class="textbox" id="txtTags" placeholder="@SR["Use a ',' to split tags"]" value="@Html.TagSerialize(Model.Tags)" />
                        </p>
                        <p>
                            @SR["Is a page"] <input type="checkbox" id="chkIsPage" @(Model.IsPage ? "checked" : "") />
                        </p>
                        <p>
                            <input type="button" id="btnSavePost" onclick="savePost('@Model.Url')" value="@SR["Save"]" class="btn btn-default" />
                            <a class="btn" href="javascript:$('.post-edit').slideUp();$('.post-body').slideDown();" yuuko-static>@SR["Cancel"]</a>
                        </p>
                    </div>
            }
                </div>
                <div class="comments">
                    <h2>@SR["Comments"]</h2>
                    <div id="disqus_thread"></div>
                </div>
            </div>
            <div class="qrcode">
                <div id="qrcode" data-url="@(Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path)"></div>
                <span>使用微信扫码</span>
            </div>
            @Html.Partial("Sidebar")
        </div>
    </div>