<div class="grid_3">
    @if (Model != null && Model.GetType() == typeof(Post) && (Html.IsAdmin() || !Model.IsPage))
    {
        <div class="sidebar-section profile-sidebar">
            <div class="sidebar-section-header">
                <h1>@SR["THIS POST"]</h1>
            </div>
            @if (!Model.IsPage)
            {
                <div class="sidebar-section-body">
                    <dl>
                        <dt>@SR["Post at"]</dt>
                        <dd>@Model.Time.ToShortDateString()</dd>
                    </dl>
                    @if (Model.CatalogId != null)
                    {
                        <dl>
                            <dt>@SR["Catalog"]</dt>
                            <dd><a href="/catalog/@Model.Catalog.Url.ToLower()">@Model.Catalog.Url.ToUpper()</a></dd>
                        </dl>
                    }
                    @if (Model.Tags.Count > 0)
                    {
                        <dl>
                            <dt>@SR["Tags"]</dt>
                            <dd>
                                @foreach (PostTag x in Model.Tags)
                                {
                                    <div class="tag-item"><a href="/tag/@x.Tag">@x.Tag</a></div>
                                }
                            </dd>
                        </dl>
                    }
                    <div class="clear"></div>
                </div>
            }
            @if (Html.IsAdmin())
            {
                <div class="sidebar-admin">
                <hr class="sidebar-hr">
                <a class="sidebar-section-button" href="javascript:DropEnable();$('.post-body').slideUp();$('.post-edit').slideDown();">
                    <i class="fa fa-edit"></i>
                    <span>@SR["Edit this post"]</span>
                </a>
                <a class="sidebar-section-button" href="javascript:if(confirm('@SR["Are you sure you want to remove this post?"]')){ $('#frmDeletePost').submit(); }">
                    <i class="fa fa-remove"></i>
                    <span>@SR["Remove this post"]</span>
                </a>
                <form id="frmDeletePost" asp-action="PostDelete" asp-controller="Admin" method="post" asp-route-id="@Model.Url"></form>
                <form asp-action="PostEdit" asp-controller="Admin" method="post" id="frmSavePost"></form>
                </div>
            }
        </div>
    }

    @if (ViewBag.Catalogs != null && ViewBag.Catalogs.Count > 0)
    {
        <div class="sidebar-section profile-sidebar">
            <div class="sidebar-section-header">
                <h1>@SR["CATALOGS"]</h1>
            </div>
            <div class="sidebar-section-body">
                <ul class="sidebar-list">
                    @foreach (CatalogViewModel x in ViewBag.Catalogs)
                    {
                        <li class="sidebar-item"><a href="/catalog/@x.Url.ToLower()">@x.Url.ToUpper() (@x.Count)</a></li>
                    }
                </ul>
            </div>
        </div>
    }

    @if (ViewBag.Tags != null && ViewBag.Tags.Count > 0)
    {
        <div class="sidebar-section profile-sidebar">
            <div class="sidebar-section-header">
                <h1>@SR["TAGS"]</h1>
            </div>
            <div class="sidebar-section-body">
                <ul class="sidebar-list">
                    @foreach (TagViewModel x in ViewBag.Tags)
                    {
                        <li class="sidebar-item"><a href="/tag/@x.Title/">@x.Title (@x.Count)</a></li>
                    }
                </ul>
            </div>
        </div>
    }

    @if (ViewBag.Calendars != null && ViewBag.Calendars.Count > 0)
    {
        <div class="sidebar-section profile-sidebar">
            <div class="sidebar-section-header">
                <h1>@SR["CALENDARS"]</h1>
            </div>
            <div class="sidebar-section-body">
                <ul class="sidebar-list">
                    @if (ViewBag.Calendars != null)
                    {
                        @foreach (CalendarViewModel x in ViewBag.Calendars)
                        {
                            <li class="sidebar-item"><a href="/@x.Year/@x.Month">@(new DateTime(x.Year, x.Month, 1).ToString(SR["_DATE_FORMAT_STRING"])) (@x.Count)</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    }

    @if (Html.IsAdmin())
    {
        <div class="sidebar-section profile-sidebar manage-sidebar">
            <a class="sidebar-section-button" href="/admin/index">
                <i class="fa fa-cog"></i>
                <span>@SR["Settings"]</span>
            </a>
            <hr class="sidebar-hr">
            <a class="sidebar-section-button" href="javascript:$('#frmNewPost').submit();">
                <i class="fa fa-file-text-o"></i>
                <span>@SR["New Post"]</span>
            </a>
            <a class="sidebar-section-button" href="/admin/catalog">
                <i class="fa fa-star-o"></i>
                <span>@SR["Manage Catalogs"]</span>
            </a>
        </div>
        <form asp-action="PostNew" asp-controller="Admin" method="post" id="frmNewPost"></form>
    }
</div>
